/* @media screen and(max-width:1441px) {
    .card {
        width: 330px;
    }
} */

@media screen and (max-width: 1441px) {

    /* Project Section */

    .card {
        width: 330px;
    }
}

@media screen and (max-width: 1281px) {

    /* Project Section */

    #project {
        height: 105vh;
    }

    .card {
        width: 295px;
    }

    .card:last-child:hover   {
        height: 250px;
    }

    .card:first-child:hover .cardDescription{
        transform: translateY(-170px);
    }
    .card:last-child:hover .cardDescription{
        transform: translateY(-125px);
    }
}

@media screen and (max-width: 1025px) {

    /* Navbar Section */
    .navItems {
        gap: 30px;
    }

    /* about section */
    .aboutDescription p:first-child {
        font-size: 1.7rem;
    }

    .aboutImg {
        width: 900px;
    }

    /* Project Section */

    #project {
        height: auto;
    }
    .card {
        width: 355px;
    }

    /* Certificate Section */
    .certificateCard:first-child {
        margin-left: -60px;
    }

    .contactDetailsContainer {
        width: 25rem;
        font-size: 1.3rem;
    }

    /* Contact Section */
    .contactDetails {
        gap: 30px;
    }

    .contactForm {
        width: 27rem;
    }

    #connect {
        border-radius: 23% 0;
    }
}

@media screen and (max-width: 835px) {

    .navbar {
        justify-content: space-between;
    }

    .hamburgerMenu {
        display: initial;
        width: 2rem;
        cursor: pointer;
        align-items: center;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: #000;
        display: block;
        border-radius: 5px;
        transition: 300ms ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .toggleHamb {
        display: block;
    }

    .toggleHamb #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .toggleHamb #bar2 {
        opacity: 0;
    }

    .toggleHamb #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .navItems {
        flex-direction: column;
        background-color: #8ad4e8;
        top: 5rem;
        left: 1000px;
        height: 100vh;
        width: 100%;
        padding: 40px 30px;
        transition: 500ms ease;
        position: absolute;
    }

    .showNav {
        left: 560px;
    }


    .main {
        padding: 0 8%;
    }

    .personalDetails h4 {
        font-size: 1.5em;
    }

    .personalDetails h2 {
        font-size: 1.7rem;
    }

    .personalDetails h1 {
        font-size: 2rem;
    }

    .introContainer {
        margin: 3rem 0 0;
        height: auto;
    }

    .introContainer .socialIcons i {
        padding: 10px;
    }

    /* About */

    .aboutContainer {
        height: 130vh;
        margin: 0;
    }

    /* Projects */

    .card {
        width: 330px;
    }

    /* Contact Section */
     #connect {
        border-radius: 0 25%;
    }

    .cardContainer {
        gap: 30px;
    }

    .contactDetailsContainer {
        width: 22rem;
        height: 22rem;
        font-size: 1.1rem;
        padding: 50px 20px;
    }

    .contactForm {
        width: 22rem;
        height: 35rem;
        padding: 20px;
    } 

}

@media screen and (max-width: 769px) {
    .main {
        padding: 0 4%;
    }

    /* Project */
    .card {
        width: 300px;
    }

    /* Connect */
    .contactDetailsContainer {
        width: 20rem;
    }


}

@media screen and (max-width: 481px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .showNav {
        left: 0;
        align-items: center;
        font-size: 1.7rem;
    }

    .navLink {
        font-size: 1.5rem;
    }

    #Intro {
        margin-top: 10%;
    }

    .introContainer {
        flex-direction: column-reverse;
        height: auto;
    }

    .personalDetails {
        text-align: center;
        margin-bottom: 2.1rem;
    }

    .introContainer .socialIcons {
        justify-content: center;
    }

    .sideImg {
        height: 300px;
    }

    /* About Section */
    .aboutTitle h1 {
        text-align: center;
    }

    .aboutContainer {
        flex-direction: column;
        height: auto;
        padding: 5.5rem 0 3rem
    }

    .aboutImg {
        width: 320px;
        height: 310px;
    }

    .aboutDescription p {
        text-align: justify;
    }

    .aboutDescription p:first-child {
        font-size: 1.4rem;
    }

    /* Project */
    #project {
        padding-bottom: 3rem;
    }

    .card {
        width: 360px;
    }

    /* Certificate */

    .certificates {
        position: relative;
    }

    .certificateContainer {
        gap: 50px;
        padding: 0;
    }

    .certificateCard {
        margin-right: -110px;
    }

    .certificateCard:first-child {
        margin-left: 30px;
    }

    .certificateImage {
        width: 75%;
        height: 250px;
    }

    .certificateInfo {
        width: 75%;
    }

    .personalDetails h1,
    h2,
    h4,
    span {
        font-size: 1.5rem;
    }

    .pre,
    .next {
        width: 3vw;
        height: 40%;
        position: absolute;
    }

    /* Contact Section */
    #connect {
        border-radius: 0;
    }

    .contactContainer {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 376px) {
    #Intro {
        margin-top: 12%;
    }

    /* Project Section */
    .card {
        width: 18rem;
    }

    /* Certificate Section */
    .certificateContainer {
        gap: 20px;
    }

    .certificateImage {
        width: 70%;
        height: 200px;
        box-shadow: 5px 5px 15px;
    }

    .certificateCard:first-child {
        margin-left: 10px;
    }

    .certificateInfo {
        width: 68%;
    }

    .pre,
    .next {
        height: 30%;
    }

    /* Contact Section */
    .contactForm,
    .contactDetailsContainer {
        width: 20rem;
    }
}

@media screen and (max-width:321px) {
    .main {
        padding: 0 3%;
    }

    .aboutImg {
        width: 280px;
        height: 310px;
    }

    .certificateContainer {
        gap: 0px;
    }

    .certificateImage {
        width: 60%;
    }

    .certificateCard:first-child {
        margin-left: 0px;
    }

    .contactForm,
    .contactDetailsContainer {
        width: 18rem;
    }

    .contactDetailsContainer {
        font-size: 1rem;
    }
}